body
{
   background-color: #fff;
}
a
{
   text-decoration: None;
}
#termcont
{
    position: fixed;
    background-color: #000;
    width: 100%;
    bottom: 0px;
    left: 0px;
    min-height: 30%;
    font-family: FreeMono, monospace;
    color: #aaa;
    font-size: 12px;
    line-height: 14px;
}  

#sidebar
{
   position: absolute;
   background-color: #444748;
   z-index: 2012;
   color: #fff;
   width: 100px;
   min-height: 100%;
   top: 0px;
   right: 0px;
   left: 0px;
   border-right: 3px solid #29AFF1;
}
  #sidebar_widget
   {
      position: relative;
      background-color: #444748;
      z-index: 2014;
      color: #fff;
      width: 100%;
      min-height: 100px;
      top: 0px;
      right: 0px;
      left: 0px;
      border-bottom: 1px solid #60686D;
      color: #8D9CA5;
      font-family: "DejaVuSansCondensed","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 14px;
      line-height: 20px;
  }
  .logo
   {
      padding: 10px;
  }
  #widget_icon
   {
      padding-top: 20px;
      padding-left: 29px;
      padding-bottom: 10px;
      font-size: 42px;
      line-height: 20px;
      text-decoration: None;
  }
      .sideicons 
           {
         color: #999;
         text-decoration: None;
      }
      .sideicons a:hover 
           {
         color: #D8CECE;
         text-decoration: None;
      }

   #jobs
   {
      width: 500px;
   }
   .sidebar_menu
   {
      position: absolute;
      background-color: #444748;
      left: -400px;
      z-index: 2011;
      color: #fff;
      min-height: 100%;
      top: 0px;
      right: 0px;
      border-right: 2px solid #C2C8CC;
   }
   .sbar_title
   {
      position: relative;
      float: left;
      width: 32.9%;
      border-left: 1px solid #60686D;
      border-right: 1px solid #60686D;
      border-bottom: 1px solid #60686D;
      text-align: center;
      font-family: sans-serif;
      font-size: 23px;
      line-height: 20px;
      font-weight: 100;
      line-height: 2.1;
      color: #999;
   }
   .sbar_title:hover
   {
      background-color: #D8CECE;
      color: #444748;
      text-decoration: None;
      cursor: pointer;
   }
   .sbar_title_active
   {
      position: relative;
      float: left;
      width: 32.9%;
      border-left: 1px solid #60686D;
      border-right: 1px solid #60686D;
      border-bottom: 1px solid #60686D;
      text-align: center;
      font-family: sans-serif;
      font-size: 23px;
      line-height: 20px;
      font-weight: 100;
      line-height: 2.1;
      background-color: #D8CECE;
      color: #444748;
      text-decoration: None;
      cursor: pointer;
   }
   #sidebarcont
   {
      padding-top: 25px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 40px;
   }
   #job_cancel_icon
   {
      font-size: 24px;
      line-height: 20px;
      color: #999;
      text-decoration: None;
      cursor: pointer;
   }
   #job_cancel_icon:hover
   {
      font-size: 24px;
      line-height: 20px;
      color: #64E84D;
      text-decoration: None;
   }

#topnav
{
   position: absolute;
   background-color: #fcfcfc;
   z-index: 2000;
   color: #fff;
   width: 100%;
   height: 75px;
   top: 0px;
   right: 0px;
   left: 100px;
   border-bottom: 3px solid #29AFF1;
}
  #sidebar_border_fix
   {
      position: absolute;
      background-color: #444748;
      z-index: 2013;
      color: #fff;
      width: .25em;
      min-height: 75px;
      top: 0px;
      right: 0px;
      left: 97px;
      border-right: 3px solid #fcfcfc;
  }
  #nav_cont
   {
      position: relative;
      float: left;
      z-index: 2020;
      top: 15px;
      margin-left: 20px;
      padding: 5px;
  }
  .title
   {
      color: #8D9CA5;
      font-family: "DejaVuSansCondensed","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 34px;
      line-height: 32px;
      text-transform: uppercase;
  }
  #buttoncont
    {
      position: relative;
      float: right;
      top: 20px;
      margin-right: 150px;
      background-color: #fcfcfc;
      width: 90px;
      height: 30px;
      border: 1px solid #e2e2e2;
      border-radius: 4px;
      cursor: pointer;
   }
   #buttonfill
     {
      position: absolute;
      background-image: -webkit-linear-gradient(top,rgb(255,255,255),rgb(248,248,248));
      -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
      height: 30px;
      width: 100%;
      border-radius: 4px;
   }
   .buttontxt
      {
      padding-top: 3px;
      color: #8D9CA5;
      font-family: "DejaVuSansCondensed","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 18px;
      line-height: 24px;
   }
  
#maincont
{
   position: absolute;
   width: 100%;
   top: 75px;
   left: 100px;
}
  #viewctrl
   {
      position: relative;
      background-color: #fcfcfc;
      width: 100%;
      height: 35px;
      border: 1px solid #e2e2e2;
   }
   #viewbox
     {
      position: absolute;
      top: 4px;
      background-image: -webkit-linear-gradient(top,rgb(255,255,255),rgb(248,248,248));
      -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
      height: 30px;
      width: 100%;
      border-radius: 4px;
   }
      #feed_tbox
            {
         position: relative;
         float: left;
         margin-top: 5px;
         margin-left: 20px;
         margin-right: 15px;
         min-height: 15px;
         min-width: 40px;
         cursor: pointer;
      }
      .feed_title
      {
         color: #8D9CA5;
         font-family: "DejaVuSansCondensed","Helvetica Neue",Helvetica,Arial,sans-serif;
         font-size: 14px;
         line-height: 20px;
      }
      #notificationbox
      {
         position: absolute;
         top: 0px;
         left: 30px;
         margin-left: 6px;
         margin-top: 0px;
         background-color: red;
         min-height: 16px;
         min-width: 16px;
         border-radius: 4px;
         color: white;
      }
   #hostcont
     {
      position: relative;
      margin-top: 20px;
      margin-left: 20px;
      width: 100%;
   }
   
   
   
   
   
   
   
#hostrow
{
   position: relative;
   background-color: #fcfcfc;
   width: 80%;
   height: 80px;
   border: 1px solid #e2e2e2;
   margin-top: 20px;
}
#hostfill
{  
   position: absolute;
   top: 5px;
   background-image: -webkit-linear-gradient(top,rgb(255,255,255),rgb(248,248,248));
   -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
   height: 75px;
   width: 100%;
   border-radius: 4px;
}
   #hostdetails
     {  
      position: relative;
      float: left;
      padding: 25px;
      width: 100px;
   }
   .hostdetails
     {  
      color: #8D9CA5;
      font-family: "DejaVuSansCondensed","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 18px;
      line-height: 24px;
   }
   .hostdescription
     {  
      position: absolute;
      top: 50px;     
      left: 0px;
      color: #8D9CA5;
      font-family: "DejaVuSansCondensed","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 10px;
      line-height: 14px;
   }  
      #lootbox
            {
         position: relative;
         margin-left: 6px;
         margin-top: 0px;
         min-height: 16px;
         min-width: 16px;
         border-radius: 4px;
         color: white;
      }
      .loot
            {
         background-color: #1DB41D;
      }
      .noloot
            {
         background-color: #ABC1CE;
      }
   
   
   
   
   
#navbar
{
   position: fixed;
   background-color: #818181;
   z-index: 2011;
   color: #fff;
   width: 100%;
   height: 30px;
   top: 40px;
   right: 0px;
   left: 0px;
}
   #navbar_cont
   {
      position: fixed;
      top: 0;
      padding-right: 5px;
      height: 40px;
      width: 80%;
      margin-left: 70px;
      color: yellow;
      background-color: black;
   }
	   #nav_status
	   {
	      padding: 12px;
              font-size: 12px;
              font-family: consolas;
	   }
   .navbar
   {
      text-decoration: none;
      color: #999;
      padding-right: 10px;
      border-right: 1px solid #2d2d2d;
   }

#dashboardcont
{
   background-color: #fff;
   width: 100%;
   margin-left: 10px;
   margin-right: 10px;  
}
#grid33
{
   position: relative;
   float: left;
   width: 20%;
   margin-left: 10px;
   margin-right: 10px;  
}
#grid50
{
   position: relative;
   float: left;
   width: 48%;
   margin-right: 30px;
}
#grid66
{
   position: relative;
   float: left;
   width: 73%;
   margin-left: 10px;
   margin-right: 10px; 
}
#grid100
{
   position: relative;
   float: left;
   top: 10px;
   width: 97.2%;
   margin: auto;
}
#widgetbar
{
   position: absolute;
   top: 0px;
   background-image: -webkit-linear-gradient(top,rgb(255,255,255),rgb(248,248,248));
   -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
   height: 30px;
   width: 100%;
   border-radius: 4px;
}
#main_widget
{
   position: relative;
   background-color: #fcfcfc;
   width: 100%;
   height: 200px;
   border: 1px solid #e2e2e2;
   padding-top: 5px;
   margin-bottom: 25px;
}
#top_widget
{
   position: relative;
   background-color: #fcfcfc;
   width: 100%;
   height: 75px;
   border: 1px solid #e2e2e2;
   padding-top: 5px;
   margin-bottom: 25px;
}
#dnc_widget
{
   position: relative;
   background-color: #fcfcfc;
   width: 100%;
   height: 140px;
   border: 1px solid #e2e2e2;
   padding-top: 5px;
   margin-top: 10px;
   margin-bottom: 25px;
}
#right_widget
{
   position: relative;
   background-color: #fcfcfc;
   width: 100%;
   min-height: 400px;
   border: 1px solid #e2e2e2;
   padding-top: 15px;
   margin-bottom: 25px;
   overflow: hidden;
}
#widget_header
{
   position: relative;
   overflow: hidden;
   display: table-cell;
   vertical-align: middle;
   font-size: 18px;
   line-height: 20px;
   top: 3px;
   padding-left: 15px;
   color: #333;
}
#widgetcont
{
   position: relative;
   top: 30px;
}
   .widget_text
   {
      font-size: 1.0em;
      font-weight: 300;
      color: #000;
      margin-bottom: 20px;
      line-height: 25px;
   }
   .widget_list
   {
      background-color: #ECEAE1;
      width: 100%;
      margin-top: -5px;
   }
   table.widget_list td
   {
      line-height: 25px;
      padding-left: 10px;
   }
   .widget_bar
   {
      background-color: #29AFF1;
   }
   tr.widget_bar td
   {
      line-height: 30px;
      font-weight: bold;
   }
   .widgetrowa
   {
      background-color: #eceaf1;
   }
   tr:hover.widgetrowa
   {
      background-color:  #29AFF1;
      cursor: pointer;
   }
   .widgetrowb
   {
      background-color: #d6e0e1;
      cursor: pointer;
   }
   tr:hover.widgetrowb
   {
      background-color:  #29AFF1;
   }
   .widget_text_strong
   {
      font-weight: bold;
      text-decoration: none;
      font-variant: normal;
      text-transform: uppercase;
      color: #4f5f6b;
   }
   ul.widget
   {
      display: block;
      position: relative;
      overflow: hidden;
      margin-bottom: 20px;
      border-top-style: none;
      margin-left: 10px;
      margin-right: 10px;
      padding: 0px;
      margin-top: 3px;
   }
   ul.widget a
   {
      text-decoration: none;
   }
   ul.widget li
   {
      height: 30px;
      line-height: 30px;
      border-bottom: 1px solid #ededed;
      color: #6a7e8d;
      display: block;
      position: relative;
      overflow: hidden;
      font-size: 1.0em;
      text-align: left;
   }
   
.dash-stats
{
   vertical-align: middle;
   text-align: center;
   font-size: 12px;
   line-height: 12px;
   color: black;
}
.alertbytype
{
   font-size: 48px;
   line-height: 48px;
}
.dash-stat-text
{

}
.sens
{
   position: relative;
   background-image: -webkit-linear-gradient(top,rgb(255,255,255),rgb(248,248,248));
   float: left;
   height: 200px;
   width: 250px;
   float: left;
   vertical-align: middle;
   
   margin-left: 10px;
   margin-right: 10px;  
}
.sens:hover
{
   background-color: #29AFF1;  
}

#config_panel
{
   position: fixed;
   height: 100%;
   z-index: 2011;
   background-color: #1a1a1a;
   width: 15%;
   left: 0px;
   top: 40px;
   margin-right: 10px;
   padding: 5px 5px 5px 0px;
   border-right: 2px solid #2d2d2d
}
#config_main
{
   background-color: #fff;
   z-index: 2010;
   color: black;
   width: 86%;
   left: 7px;
   top: 40px;
   overflow-y: auto;
   margin-left: 15%;
   margin-bottom:  170px;
   padding: 5px 5px 5px 0px;
}
#config
{
   position: relative;
}
   .sidebar_header
   {
      position: relative;
      height: 28px;
      margin: 20px -5px 10px;
      padding: 0 10px 0 20px;
      font-family: "DejaVuSansCondensed","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 14px;
      line-height: 32px;
      text-transform: uppercase;
      color: #fff;
      background-color: #262626;
      border-bottom: 1px solid #0f0f0f;
      -webkit-box-shadow: 0 1px 0 #2a2a2a,inset 0 1px 1px #000;
      -moz-box-shadow: 0 1px 0 #2a2a2a,inset 0 1px 1px #000;
      box-shadow: 0 1px 0 #2a2a2a,inset 0 1px 1px #000;
   }
   ul.sidebar_list a
   {
      text-decoration: none;
      color: #999

   }
   .sidebar_list
   {
      margin: 0 0 20px;
      list-style: none;
   }
#terminal_response
{
   position: fixed;
   background-color: #fff;
   z-index: 2010;
   color: #6a7e8d;
   width: 84.9%;
   height: 200px;
   bottom: 0px;
   right: 0px;
   margin-bottom: 85px;
   padding-bottom: 5px;
   display: none;
   overflow: auto;
   border-top: 2px solid #2d2d2d;
}
   #term_cont
   {
      margin-left: 20px;
      padding: 5px;
      margin-bottom: 5px;
   }
#terminal_window
{
   position: fixed;
   background-color: black;
   z-index: 2010;
   color: yellow;
   width: 85%;
   height: 80px;
   bottom: 0px;
   right: -15px;
   margin-bottom: 0px;
   border-top: 2px solid #2d2d2d;
   overflow: hidden;
   padding: 5px;
}
#logo
{
   position: absolute;
   z-index: 2013;
   top: 5px;
}
#systems_list
{
   display: none;
}
#systems_header
{
   display: none;
}
#netpol
{
   display: none;
}
#panel_menu
{
   position: relative;
   float: right;
   top: 5px;
   color: #999;
   line-height: 20px;
   font-size: 20px;
   margin-right: 5px;
}
   .panel_icons
   {
      text-decoration: none;
      color: inherit;
   }
   .terminal a:hover {
      color: #EFEBEB;
   }

#attack_loader
{
   position: relative;
   float: right;
   top: 27px;
   right: 30px;
   display: none;
}
