body
{
background:url('/static/images/subterfugebg.jpg');
background-size: 100%;
background-color: black;
}
a
{
    text-decoration: none;
    color: black;
}

        /* Notification Box */
    #notificationbox
    {
        position: absolute;
        background:url('/static/images/notify.png');
        background-size: 100%;
        top: 50px;
        right: 0px;
        float: right;
        z-index: 3012;
        width: 250px;
        height: auto;
        padding: 5px;
        border: solid black 1px;
        -khtml-border-radius: 4px 4px 4px 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 5px 5px 5px 5px;
        -khtml-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        -ms-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        box-shadow: rgba(5, 5, 5, 5) 0 1px 2px;
    }

        /* NAVBAR */
    #navbar
    {
        position: absolute;
        background:url('/static/images/panel.jpg');
        background-color: black;
        width: 100%;
        top: -3px;
        right: 0px;
        height: 40px;
        font-family: impact;
		  font-size:25px;
		  letter-spacing:2px;
        padding: 8px 5px 2px 5px;
    }
    #logo
    {
        position: absolute;
        top: 3px;
        left: 5px;
        z-index: 2012;
    }
    #title
    {
		  position: absolute;
		  left: 100px;
        top: 12px;
        z-index: 2012;
    }
    #navbarfill
    {
        position: absolute;
        background:url('/static/images/TranspFills/transpBlue90.png');

                       /* background:url('/static/images/TranspFills/transpRed90.png');*/
                               /* background:url('/static/images/TranspFills/transpOrange25.png');*/
        width: 40%;
        right: 0%;
        top: -2px;
        height: 40px;
        padding: 8px 0px 2px 20px;
        color: white;
        font-family: arial black;
        letter-spacing:2px;
        font-size:20px;
        -khtml-border-radius: 4px 4px 4px 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 0px 0px 0px 90px;
        -khtml-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        -ms-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
    }
    #navheadobj
    {
        float: left;
    }
    #navobj
    {
        float: left;
    }
    #navpwnobj
    {
        float: right;
        padding: 0px 10px 0px 0px;
    }
    #onbar
    {
	position: absolute;
	left: 430px;
        top: 15px;
        z-index: 2012;
    }
    
    
        /* SIDENAV */
    #sidenav
    {
        position: relative;
        float: left;
        border: solid .5px black;
        width: 12%;
        font: 16px/27px Arial, sans-serif;
        padding: 10px;
    }
    
    
        /* MAIN */
    #main
    {
        position: relative;
        top: 50px;
        height: auto;
        margin: auto;
        font: 16px/27px Arial, sans-serif;
        padding: 15px;
    }
    
    td
    {
        padding: 2px 2px 2px 10px;
        height: 27px;
    }
    #credbg
    {
        /*background:url('/static/images/tablebg.png');*/
        /*min-height: 633px;*/
        overflow: auto; 
    }
    .credlist
    {
        
        border-bottom: solid 2px #d6e0e1;
        background-color: #ECEAE1;
        width: 100%;
    }
    .credbar
    {
        background:url('/static/images/panelsmall.png');
    }
    .credrowa
    {
        background-color: #ECEAf1;
    }
    .credrowb
    {
        background-color: #d6e0e1;
    }
    
    #pluginbox
    {
        background:url('/static/images/panel.jpg') repeat-x;
        background-color: #d6e0e1;
        min-height: 660px;
        width: auto;
        height: 100%;
        border-radius: 15px;
        padding: 15px;
    }
    
          #pluginframe
          {
              float: left;
              width: auto;
              max-width: 45%;
              margin: 10px;
          }
    
          #plugin
          {
              float: left;
              height: 110px;
              width: 145px;
              margin: 10px;
              color: #1919E8;
              text-align: center;
              font-family: impact;
              letter-spacing:1px;
              line-height: 100%;
              font-size: 12px;
          }
          
          #plugin img
          {
              height: 75px;
              width: 75px;
              margin: auto;
          }
          
          .pluginconfig
          {
              border: 1px black solid;
              padding: 0.2em 0.8em;
              margin-left: 1em;
              height: 500px;
              width: 450px;
              margin-bottom: 10px;
          }
          #pluginconfigbox
          {
              width: 450px;
              height: 60px;
              top: 60px;
          }
                   
    #configbg
    {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index: -1;
    }
    
    .generalsettings
    {
        border: 1px white solid;
        padding: 0.2em 0.8em;
        margin-left: 1em;
        height: 350px;
        width: 350px;
    }

    #mask
    {
        position:absolute;
        z-index:9000;
        background-color:#000;
        display:none;
    }

    #setctrlbox
    {
        width: 250px;
        height: 65px;
    }
    
    #resetbox
    {
        width: 350px;
        height: 65px;
    }
    .reset
    {
        border: 1px white solid;
        padding: 0.2em 0.8em;
        margin-left: 1em;
        height: 75px;
        width: 350px;
        margin-bottom: 10px;
    }
    
    #speedbox
    {
        width: 350px;
        height: 150px;
    }
    .speedctrl
    {
        border: 1px white solid;
        padding: 0.2em 0.8em;
        margin-left: 1em;
        height: 160px;
        width: 350px;
        margin-bottom: 10px;
    }
    
    #redbutton
    {
        background: url('/static/images/redbuttonbg.png') repeat-x;
        float: right;
        width: 120px;
        margin: 10px;
        text-align: center;
        -khtml-border-radius: 4px 4px 4px 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 5px 5px 5px 5px;
        -khtml-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        -ms-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        box-shadow: rgba(5, 5, 5, 5) 0 1px 2px;  
    }
    #redbutton2
    {
        background: url('/static/images/redbuttonbg.png') repeat-x;
        float: right;
        width: 70px;
        margin: 10px;
        text-align: center;
        -khtml-border-radius: 4px 4px 4px 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 5px 5px 5px 5px;
        -khtml-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        -ms-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
        box-shadow: rgba(5, 5, 5, 5) 0 1px 2px;  
    }
    
       #gatebutton
       {
           background: url('/static/images/redbuttonbg.png') repeat-x;
           width: 120px;
           text-align: center;
           -khtml-border-radius: 4px 4px 4px 4px;
           -ms-border-radius: 4px;
           -o-border-radius: 4px;
           -moz-border-radius: 4px;
           -webkit-border-radius: 4px;
           border-radius: 5px 5px 5px 5px;
           -khtml-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
           -ms-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
           -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
           -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
           -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
           box-shadow: rgba(5, 5, 5, 5) 0 1px 2px;  
       }
    
    .menu
    {
        border: 1px white solid;
        padding: 0.2em 0.8em;
        margin-left: 1em;
        width: 95%;
        height: 90%;
        margin-bottom: auto;
    }

	 #footer
	 {
		  position: fixed;
		  background:url('/static/images/transpBlack75.png');
		  color: yellow;
		  margin-top: 10px;
		  bottom: 0;
		  width: 100%;
		  text-align: center;
        font-family: impact;
		  letter-spacing:1px;
		  font-size: 8px;
	 }
    
	 #invis
	 {
		  position: absolute;
		  bottom: 0;
		  width: 0px;
        height: 0px;
	 }

